<button><%= link_to "Volver a lista de artistas", artists_path %></button>
<%= link_to 'Buscar albums de ' + @artist.name, artist_albums_path(artist_id: @artist.id) %>

<p> 

    <div id= "button-favoritable-<%= @artist.id.to_s %>">
        <%= render "favorites/buttons_favorite", object: @artist, user: current_user %>
    </div>
        
</p>

<h3> <%= @artist.name %> </h3>
<p> <%= @artist.year %> </p>
<p> <%= @artist.style %> </p>

<% if @artist.website? %>
    <% url = "https://" + @artist.website %>
    <p> <a href= <%= url %> target="_blank"> Website </a> </p>
<% else %>
    <p> No tiene Website asociada. </p>  
<% end %>

<% if @artist.facebook? %>
    <% url = "https://" + @artist.facebook %>
    <p> <a href= <%= url %> target="_blank"> Facebook </a> </p>
<% else %>
    <p> No tiene Facebook asociado. </p>  
<% end %>


<% if @artist.twitter? %>
    <% url = "https://" + @artist.twitter %>
    <p> <a href= <%= url %> target="_blank"> Twitter </a> </p>
<% else %>
    <p> No tiene Twitter asociado. </p>  
<% end %>

<p> <%= @artist.country %> </p>
<p> <%= @artist.bio_en %> </p>
<p> <%= @artist.bio_esp %> </p>

<% if @artist.thumb? %>
    <%= image_tag(@artist.thumb, :alt => @artist.name + " picture") %>
<% end %>
