<br>
<br>
<%= link_to 'Buscar albums del artista', albums_path, class: "" %>

<p> <%= @artist.api_id %> </p>
<h3> <%= @artist.name %> </h3>
<p> <%= @artist.year %> </p>
<p> <%= @artist.style %> </p>
<p> <%= @artist.website %> </p>
<p> <%= @artist.facebook %> </p>
<p> <%= @artist.twitter %> </p>
<p> <%= @artist.country %> </p>
<p> <%= @artist.bio_en %> </p>
<p> <%= @artist.bio_esp %> </p>

<%= image_tag(@artist.thumb, :alt => @artist.name + " picture") %>
