<div class="pad-25">
    <button class="button-all"><%= link_to "Volver al buscador", user_path(current_user), class: "a-without-line-button" %></button>
</div>
    
<div class="percetange_100 pad-25">
    
    <div class="percentage_50 left">
        <div class="padre-div">

            <div class="percentage_5"> 

                    <div id= "button-favoritable-<%= @artist.id.to_s %>">
                        <%= render "favorites/buttons_favorite", object: @artist, user: current_user %>
                    </div>
                        
            </div>


            <div>
                <h1> <%= @artist.name %> </h1>

                <div>
                    Año:
                    <% if @artist.year? %>
                    <%= @artist.year %>
                    <% else %>
                        desconocido
                    <% end %>
                        - Estilo:
                    <% if @artist.style? %>
                    <%= @artist.style %>
                    <% else %>
                        desconocido
                    <% end %>
                        - Origen:
                    <% if @artist.country? %>
                    <%= @artist.country %>
                    <% else %>
                        desconocido
                    <% end %>
                
                </div>
            </div>
        </div>

        <div class="div-padre">

            <div>
                <% if @artist.thumb? %>
                    <%= image_tag(@artist.thumb, alt: @artist.name + " picture", size: "175x175", class: "sombra") %>
                <% else %>
                    <%= image_tag("/not_found.png", alt: @album.name + " picture", size: "175x175", class: "sombra-not-found") %>
                <% end %>
            </div>
            
            <div class="div-hijo pad-left-12">
                <% if @artist.website? %>
                    <% if @artist.website.include? "https://" %>
                        <p> <a href= <%= @artist.website %> target="_blank"> <%= image_tag("/website.png", alt: "Twitter del artista", size: "30x30") %> </a> </p>
                    <% else %>
                        <% url = "https://" + @artist.website %>
                        <p> <a href= <%= url %> target="_blank"> <%= image_tag("/website.png", alt: "Twitter del artista", size: "30x30") %> </a> </p>
                    <% end %>
                <% else %>
                    <p> No tiene Website asociada. </p>  
                <% end %>

                <% if @artist.facebook? %>
                    <% if @artist.facebook.include? "https://" %>
                        <p> <a href= <%= @artist.facebook %> target="_blank"> <%= image_tag("/facebook.png", alt: "Twitter del artista", size: "30x30") %> </a> </p>
                    <% else %>
                        <% url = "https://" + @artist.facebook %>
                        <p> <a href= <%= url %> target="_blank"> <%= image_tag("/facebook.png", alt: "Twitter del artista", size: "30x30") %> </a> </p>
                    <% end %>
                <% else %>
                    <p> No tiene Facebook asociado. </p>  
                <% end %>

                <% if @artist.twitter? %>
                    <% if @artist.twitter.include? "https://" %>
                        <p> <a href= <%= @artist.twitter %> target="_blank"> <%= image_tag("/twitter.png", alt: "Twitter del artista", size: "30x30") %> </a> </p>
                    <% else %>
                        <% url = "https://" + @artist.twitter %>
                        <p> <a href= <%= url %> target="_blank"> <%= image_tag("/twitter.png", alt: "Twitter del artista", size: "30x30") %> </a> </p>
                    <% end %>
                <% else %>
                    <p> No tiene Twitter asociado. </p>  
                <% end %>
            </div>

        </div>
    
        <% if @artist.bio_en? %>
            <p><%= @artist.bio_en %></p>
        <% else %>
            <p>No hay descripción.</p>
        <% end %>
        
    </div>

    <div class="percentage_50 right center">

        <h3 class="title-list"><%= @artist.name %> albums</h3>
        <% if @searched_albums.any? %>

            <% @searched_albums.each do |album|%>

                <p><%= link_to album.name, artist_album_path(album, artist_id: @artist.id), class: "a-without-line" %></p>

            <% end %>

        <% else %>

            <p> No hemos encontrado los álbumes. </p>
            
        <% end %>
    <div>

</div>