<p><%= link_to "Volver a " + @artist.name, artist_path(@artist.id) %></p>

<h3> <%= @artist.name.upcase! %> ALBUM LIST </h3>

<% if @searched_albums.any? %>

    <% @searched_albums.each do |album|%>

        <p><%= link_to album.name, artist_album_path(album, artist_id: @artist.id)  %></p>
        <p><%= '**************************************' %></p>

    <% end %>

<% else %>

    <p> La búsqueda no tuvo suerte. </p>
    <p><%= link_to "Volver a" + @artist.name, artist_path(@artist.id) %></p>
    
<% end %>
