<br>
<br>

<%= link_to 'Canciones que pernecen a "' + @album.name + '"', artist_album_tracks_path(album_id: @album.id), class: "" %>


<h3> <%= @album.name %> </h3>
<p> <%= @album.year %> </p>
<p> <%= @album.genre %> </p>
<p> <%= @album.des_en %> </p>


<% if @album.thumb? %>
    <%= image_tag(@album.thumb, :alt => @album.name + " picture") %>
<% end %>
