<button><%= link_to "Volver a lista de albumes", artist_albums_path %></button>
<%= link_to 'Canciones que pernecen a "' + @album.name + '"', artist_album_tracks_path(album_id: @album.id) %>

<p> 

    <div id= "button-favoritable-<%= @album.id.to_s %>">
        <%= render "favorites/buttons_favorite", object: @album, user: current_user %>
    </div>
        
</p>

<h3> <%= @album.name %> </h3>
<p> <%= @album.year %> </p>
<p> <%= @album.genre %> </p>
<p> <%= @album.des_en %> </p>


<% if @album.thumb? %>
    <%= image_tag(@album.thumb, :alt => @album.name + " picture") %>
<% end %>
