<!DOCTYPE html>
<html>
  <head>

    <title>THEAUDIODB</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  
      <header class="masthead mb-auto cabecera-nav">
        <div class="inner">

          <nav class="nav nav-masthead justify-content-center">
            <div class="padrealigncenter" >

              <h1>THEAUDIODB</h1>
              <img src="/logo_3d.png">

            </div>
          </nav>

        </div>
      </header>

    <%= yield %>

  </body>
</html>